html, body {
  font-size: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; 
background-image: url(../assets/paper-texture.jpg);
background-repeat:repeat;
background-size: 400px 400px;
background-color: #d7d7d7;
font-size: 1rem;
}

.show-focus-outlines button:focus,
.show-focus-outlines [tabindex]:focus {
  outline-color: yellow;
  outline-style: solid;
  outline-width: 0.3rem; }

body:not(.show-focus-outlines) button:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
  outline: none; }

.navbar {
  padding:0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(107, 107, 107, 0.42);
  -moz-box-shadow: 0px 2px 2px 0px rgba(107, 107, 107, 0.42);
  box-shadow: 0px 2px 2px 0px rgba(107, 107, 107, 0.42);
}
.navbar-brand{
 Height: 100%;
  font-size: 22px;
  font-weight: 500;
  padding:0.5rem;
  padding-left:1rem;
  margin-right: 0.4rem;

}


.navbar-nav{
  font-size: 18px;
  font-weight: 500;

  width: 100%;
  text-align:center;


  justify-content: space-around;
  /*do not set height here because it affects the css animation of collapsing*/
}

.nav-item{
  white-space: nowrap;
  width:100%;
  text-align:center;
  vertical-align:middle;
  justify-content: space-around;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color:rgba(181, 208, 252, 0.6);
}

@media (min-width: 992px) {
  .nav-item{
    margin: 0 0 0 2px;
  }
}

@media (max-width: 991.98px) {
  .nav-item{
    margin: 2px 0 0 0;
  }
}

.navbar-toggler{
  margin-right:1rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.footer, .footer-buttons, .footer-audio {
  z-index: 9998; }


  .footer-buttons {
    position: fixed;
    bottom: 15px;
    right: 15%;
    width: 5rem;
    height: 2rem;
    font-size: 0; }
  
  .question {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  
  .footer-question {
    display: inline-block;
    position: relative;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    background: #222222;
    color: #ffffff;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out; }
  
  
  .footer-question:hover {
    background: black; }
  
  .footer-question:hover span {
    animation: 0.5s questionAnimation forwards; }
  
  @keyframes questionAnimation {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1; }
    35% {
      transform: translate(100%, -50%);
      opacity: 0; }
    36% {
      transform: translate(-300%, -50%);
      opacity: 0; }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1; } }

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #222222;
  color: #ffffff;
  transform: translate3d(0, 0, 0) !important; }

.footerHide {
  bottom: 15px;
  transform: translateY(100%) !important; }

.footer-transition {
  transition: 0.5s ease-in-out;
  transform: translate3d(0, 0, 0); }

.menu {
  height: 100%;
  padding: 0.94rem 0; }

.menuitem {
  text-align: center; }

.modal .link {
  color: #626262;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 0, 0); }

.modal .link:hover {
  color: #b5b5b5; }

.footer .link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s linear;
  transform: translate3d(0, 0, 0);
  cursor: pointer; }

.footer .link:hover {
  color: #b5b5b5; }

.footer-bg {
  background: #343a40; }

.footer-logo {
  width: 12.5rem;
  height: 100%;
  transition: 0.2s linear; }

.footer-logo:hover {
  filter: brightness(70%); }

  .non-modal {
    transition: filter 1s cubic-bezier(0.165, 0.84, 0.44, 1); }


.loading {
  width: 100%;
  height: 100%;
  position: fixed;
}

.loading-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}







@media screen and (max-width: 1600px) {
  html, body {
    font-size: 90%; }
    .nav-item{
      font-size: 16px;
    } 
    .navbar-brand{
      font-size: 19px;
    }}

@media screen and (max-width: 991px) {
  html, body {
    font-size: 70%; } 

  .menu {
    padding: 1rem 0; }
  .menuitem {
    padding: 0.5rem; }
  .footer-buttons {
    right: 3%;
    width: 6rem;
    height: 2.5rem; }
  .footer-logo {
    width: 12rem; }
  .footer .link {
    font-size: 1.25rem; }}

@media screen and (orientation: portrait) {
  .height1 {
    width: 100%;
    height: 60%; }
  .height2 {
    width: 100%;
    height: 40%; } }

@media screen and (orientation: landscape) {
  .height1 {
    height: 100%;
    width: 66.6%; }
  .height2 {
    height: 100%;
    width: 33.3%; } }

@media screen and (max-width: 991px) and (orientation: landscape) {
  .height1 {
    width: 50%; }
  .height2 {
    width: 50%; }
  .buttons-active {
    top: 0.5rem !important; } }

@media screen and (max-width: 991px) and (orientation: portrait) {
  .video-section {
    height: calc(90vh - 15px); }
  .video-spacer1 {
    height: 10vh; }
  .buttons-active {
    top: 1rem !important; } }

/** info container only on mobile - not ipad ***/
@media screen and (max-width: 720px) {
  .info-container {
    width: 96%;
    opacity: 0;
    padding: 1.0rem;
    bottom: 10.5%;
    margin-left: -3%; } }